<h3>Hey, man!</h3>
<br>
<p>I am Jesus. Now I give you a secret. Listen:</p>
<p style="color:red"><i><u>It's time to <strong><%= @suggestion_email.suggestion %></strong> some of your ltc.</u></i></p>
<p>Detail is as below:</p>
<p>----------------------------</p>
<div>
<% @suggestion_email.as_json.map  do |k, v| %>
	<% if v.present? %>
		<p><%= k.to_s + ":" + v.to_s %></p>
	<% end %>
<% end %>
</div>
<p>-----------------------------</p>
<p>What will you do? Just follow my advise. ^-^</p>
<br>
<p>Best wishes! Good luck!</p>
<p>-------</p>
<p>Jesus</p>