Hey, man!
I am Jesus. Now I give you a secret. Listen:
<% @suggestion_email.map  do |k, v| %>
	<% if v.present? %>
		<p><%= k.to_s + ":" + v.to_s %></p>
	<% end %>
<% end %>
What will you do? Just follow my advise. ^-^

Best wishes! Good luck!
-------
Jesus