development:
  SECRET_KEY_BASE:
  SERVER_URL: http://localhost:3000/
  IMAGE_SERVER: http://localhost:3000/
  CL_ACCOUNT:
  CL_PASSWORD:
  ALIYUN_ACCESS_ID: AMDX8q3XGHlvGMVC
  ALIYUN_ACCESS_KEY: 86n9oHpjXjilxw2zI0quyaJQRNc4BV
  ALIYUN_BUCKET: baye-media-staging
  ALIYUN_OSS_HOST: http://baye-media-staging.oss-cn-shanghai.aliyuncs.com
  WECHAT_STORE_ID:
  WECHAT_STORE_KEY:

staging:
  SECRET_KEY_BASE:
  SERVER_URL: http://localhost:3000/
  IMAGE_SERVER: http://localhost:3000/
  CL_ACCOUNT:
  CL_PASSWORD:
  ALIYUN_ACCESS_ID: AMDX8q3XGHlvGMVC
  ALIYUN_ACCESS_KEY: 86n9oHpjXjilxw2zI0quyaJQRNc4BV
  ALIYUN_BUCKET: baye-media-staging
  ALIYUN_OSS_HOST: http://baye-media-staging.oss-cn-shanghai.aliyuncs.com
  WECHAT_STORE_ID:
  WECHAT_STORE_KEY:

production:
  SECRET_KEY_BASE:
  SERVER_URL: http://api.staging.bayekeji.com
  IMAGE_SERVER: http://api.staging.bayekeji.com
  CL_ACCOUNT:
  CL_PASSWORD:
  RAILS_SERVE_STATIC_FILES: false
  WECHAT_STORE_ID:
  WECHAT_STORE_KEY:

test:
  SECRET_KEY_BASE:
  SERVER_URL: http://localhost:3000/
  IMAGE_SERVER: http://localhost:3000/
  CL_ACCOUNT:
  CL_PASSWORD:
  ALIYUN_ACCESS_ID: AMDX8q3XGHlvGMVC
  ALIYUN_ACCESS_KEY: 86n9oHpjXjilxw2zI0quyaJQRNc4BV
  ALIYUN_BUCKET: baye-media-staging
  ALIYUN_OSS_HOST: http://baye-media-staging.oss-cn-shanghai.aliyuncs.com
  WECHAT_STORE_ID:
  WECHAT_STORE_KEY:
