<section class='landing widgets'>
	<div class='contentHero'>
		<h2><strong>Pay with Bitcoin</strong></h2>
		<div class='pure-g widgetsContainer'>
			<div class='pure-u-1 pure-u-sm-1-2'>
				<div class='columnContainer'>
					<%= form_tag payments_path, id: 'btc_form', authenticity_token: true, remote: true, multipart: true do %>
					  <%= hidden_field_tag :user_uid, params[:user_uid] || 1 %>
					  <p><input type="text" name="amount" placeholder="BTC" id="amount_input"></p>
					  <button type="button" class="button_pay">Pay</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class='dark loaderReveal loaderRevealDelay1000 loaderRevealSpeed600'>
	<div class='copyright'> A product of ninety-nine &copy; 2017</div>	
</footer>


<script>
$(function(){
	$('.button_pay').click(function(){
		var amount = parseFloat($('#amount_input').val());
		if(/^[+-]?\d+(\.\d+)?$/.test(amount)){
			$('#btc_form').submit();
		}else{
			alert("Please insert correct amount.")
		}
	})
})
</script>
