<%= hidden_field_tag :uid, params[:uid] %>
<section class='landing widgets'>
	<div>
		<h2><strong>Pay with Bitcoin</strong></h2>
		<div>
			<div>
				<div class='columnContainer'>
					<%= form_tag payments_path, method: :post, remote: true, format: 'js',  authenticity_token: true, id: 'btc_form' do %>
					  <p><input type="text" name="amount" placeholder="BTC" id="amount_input"></p>
					  <button type="button" class="button_pay">Pay</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class='dark loaderReveal loaderRevealDelay1000 loaderRevealSpeed600'>
	<div class='copyright'> A product of skyluster &copy; 2017</div>	
</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
$(function(){
	$('.button_pay').click(function(){
		var amount = parseFloat($('#amount_input').val());
		if(/^[+-]?\d+(\.\d+)?$/.test(amount)){
			$('#btc_form').submit();
		}else{
			alert("Please insert correct amount.")
		}
	})
})
</script>
